<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partial/meta.ejs')%>
    <title>Document</title>
</head>
<body>
    <hi> Namste ! this is index page file</hi>
    <a href="/download">Download</a>
  
</body>
</html>